<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.coupon.mapper.CouponSpuCategoryRelationMapper">
  <resultMap id="BaseResultMap" type="com.zjj.coupon.entity.CouponSpuCategoryRelation">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <insert id="insert" parameterType="com.zjj.coupon.entity.CouponSpuCategoryRelation">
    insert into sms_coupon_spu_category_relation (id, coupon_id, category_id, 
      category_name)
    values (#{id,jdbcType=BIGINT}, #{couponId,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, 
      #{categoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjj.coupon.entity.CouponSpuCategoryRelation">
    insert into sms_coupon_spu_category_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>