<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.coupon.mapper.CouponHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zjj.coupon.entity.CouponHistory">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName" />
    <result column="get_type" jdbcType="BIT" property="getType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="use_type" jdbcType="BIT" property="useType" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_sn" jdbcType="BIGINT" property="orderSn" />
  </resultMap>
  <insert id="insert" parameterType="com.zjj.coupon.entity.CouponHistory">
    insert into sms_coupon_history (id, coupon_id, member_id, 
      member_nick_name, get_type, create_time, 
      use_type, use_time, order_id, 
      order_sn)
    values (#{id,jdbcType=BIGINT}, #{couponId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, 
      #{memberNickName,jdbcType=VARCHAR}, #{getType,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{useType,jdbcType=BIT}, #{useTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=BIGINT}, 
      #{orderSn,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zjj.coupon.entity.CouponHistory">
    insert into sms_coupon_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="memberNickName != null">
        member_nick_name,
      </if>
      <if test="getType != null">
        get_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="useType != null">
        use_type,
      </if>
      <if test="useTime != null">
        use_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberNickName != null">
        #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="getType != null">
        #{getType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useType != null">
        #{useType,jdbcType=BIT},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>