<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.coupon.mapper.SpuBoundsMapper">
  <resultMap id="BaseResultMap" type="com.zjj.coupon.entity.SpuBounds">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="grow_bounds" jdbcType="DECIMAL" property="growBounds" />
    <result column="buy_bounds" jdbcType="DECIMAL" property="buyBounds" />
    <result column="work" jdbcType="BIT" property="work" />
  </resultMap>
  <insert id="insert" parameterType="com.zjj.coupon.entity.SpuBounds">
    insert into sms_spu_bounds (id, spu_id, grow_bounds, 
      buy_bounds, work)
    values (#{id,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, #{growBounds,jdbcType=DECIMAL}, 
      #{buyBounds,jdbcType=DECIMAL}, #{work,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zjj.coupon.entity.SpuBounds">
    insert into sms_spu_bounds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="growBounds != null">
        grow_bounds,
      </if>
      <if test="buyBounds != null">
        buy_bounds,
      </if>
      <if test="work != null">
        work,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="growBounds != null">
        #{growBounds,jdbcType=DECIMAL},
      </if>
      <if test="buyBounds != null">
        #{buyBounds,jdbcType=DECIMAL},
      </if>
      <if test="work != null">
        #{work,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>